/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('index.jpeg') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

h1
{ 
 background-color: cyan;
text-align: center;
color: blue;
 }
h1:hover
{
color: mistyrose;
}

   &:hover
  {
   color: aqua;
   background-color: #000;
  }

h2
{ 
 color: red;
background-color: white;
text-align: center

 }

body
{
text-align:center; 
margin-left:50px;
padding-top: 15px;
margin-right: 50px;
margin-bottom: 50px;
margin-top: 50px;
font-family: "Times New Roman", Georgia, Serif; 
color: black;
background-color: #989564;
}

footer
{ 
padding-bottom: 90px; 
background:;
}

form_for
{
font-color:  ;
text-align: ;
}

f.submit
{
color:navy;
}
table
{

text-align: center;
font-color: navy;
}
th
{
text-align: center;
color: navy;
}

td{
text-align: center;
font-color: navy;
}
tr
{
text-align: center;
color: black; 
font-family: "Times New Roman", Georgia, Serif;
}
ul
{
color: red;
font-family: "Times new Roman", Georgia, serif;
}
div{
h2{
color: red;
}
color: navy;
font-family: "Times New Roman", Georgia, serif;
}

